<form action="/addShoes" method="post">
  <div>
    {{#if messages.error}}
      <p class="flash-messages">
        {{messages.error}}
      </p>
    {{/if}}
    <div>
      <label for="shoeName">
        <strong>
          Add a shoe for display
        </strong>
      </label>

      <div>
        <div class="py-4">
          <label for="shoeName">Name of the shoe</label>
          <div>
            <input
              class="focus:bg-white rounded-md border-2"
              name="shoeName"
              type="text"
              placeholder="enter shoe name"
              required
            />
          </div>
        </div>

        <div class="py-4">
          <label for="description">Shoe description</label>
          <div>
            <input
              class="focus:bg-white rounded-md border-2"
              name="description"
              type="text"
              placeholder="enter image description"
              required
            />
          </div>
        </div>

        <div class="py-4">
          <label for="ageGroup">Catagory</label>
          <div>
            <input
              class="focus:bg-white rounded-md border-2"
              name="ageGroup"
              type="text"
              placeholder="enter men, women or kid"
              required
            />
          </div>
        </div>

        <div class="py-4">
          <label for="image">Shoe image</label>
          <div>
            <input
              class="focus:bg-white rounded-md border-2"
              name="image"
              type="text"
              placeholder="enter image url"
              required
            />
          </div>
        </div>

        <div class="py-4">
          <label for="qty">Shoe quantity</label>
          <div>
            <input
              class="focus:bg-white rounded-md border-2"
              name="qty"
              type="text"
              placeholder="enter number of stock"
              required
            />
          </div>
        </div>

        <div class="py-4">
          <label for="shoePrice">Price of the shoe</label>
          <div>
            <input
              class="focus:bg-white rounded-md border-2"
              name="shoePrice"
              type="text"
              placeholder="enter a shoe price"
              required
            />
          </div>
        </div>

        <div class="py-4">
          <label for="shoeColor">Color of the shoe</label>
          <div>
            <input
              class="focus:bg-white rounded-md border-2"
              name="shoeColor"
              type="text"
              placeholder="enter a shoe color"
              required
            />
          </div>
        </div>

        <div class="py-4">
          <label for="shoeSize">Size of the shoe</label>
          <div>
            <input
              class="focus:bg-white rounded-md border-2"
              name="shoeSize"
              type="text"
              placeholder="enter a shoe size"
              required
            />
          </div>
        </div>
      </div>
    </div>

    <div>
      <button type="submit">
        <strong>
          Add a shoe
        </strong>
      </button>
    </div>
  </div>
</form>